footer {
  max-width: 80rem;
  width: 100%;
  padding: 4rem 2rem 2rem;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 700;
}

footer .logo img {
  width: 2rem;
  transition: rotate 350ms;
}

footer .logo img:hover {
  rotate: 90deg;
}

nav{
  display:flex;
  gap:2rem;
}

nav a{
  position:relative;
  width:fit-content;
 
}

nav a::after{
  content:"";
  width:100%;
  height:2px;
  background-color:var(--snitap-sky-mid);
  position:absolute;
  bottom:0;
  left:0;
  opacity:0;
  transform:scaleX(0);
}

nav a:hover::after{
  opacity:1;
  transform: scaleX(1);
  transition:transform 500ms linear;
}

.social-links{
  display:flex;
  align-items:center;
}

.social-links a{
  width:2.5rem;
  height:2.5rem;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:5rem; 
  position:relative; 
}

.social-links a::before {
  content:"";

  width:inherit;
  height:inherit;
  border-radius:inherit;

  background:var(--snitap-sun);
  position:absolute;
  top:0;
  left:0;
  z-index:-1;

  scale:0;
  transition:scale 1s;
}

.social-links a:hover::before{
  scale:1;
}
