section.gallery {
  width: 100%;
  max-width: 80rem;
  padding: 2.5rem 2rem;
  margin-inline: auto;
}

.header-bottom {
  display: flex;
  flex-direction: column;
}
.header-bottom span {
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.header-bottom h2 {
  text-align: center;
  font-family: "Syne", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

figure img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  transition:scale 500ms;
}
figure img:hover {
  scale: 1.1 ;
}

.content {
  margin-top: 2rem;
  display: grid;
  grid-template-areas:
    "A B B"
    "C C D";

  gap: 2.5rem;
}

figure:nth-child(1) {
  grid-area: A;
}
figure:nth-child(2) {
  grid-area: B;
}
figure:nth-child(3) {
  grid-area: C;
}
figure:nth-child(4) {
  grid-area: D;
}
figure {
  border-radius: 2.5rem;
  overflow: hidden;
  position: relative;
  line-height: 0;
  animation:image-appear 10s ease-in-out backwards;
  animation-timeline:view();
  animation-range:100px 300px;

  &[data-delay]{
    animation-range:150px 350px;
  }
}

figcaption {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  background: linear-gradient(to top, rgb(0 0 0 / 0.64), rgb(0 0 0 / 0));

  color: #fff;
  font-family: "Montserrat", sans serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
  transform: translateY(100%);
}

figcaption img {
  width: 1rem;
  height: 1rem;
  aspect/ration: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

figure:hover figcaption {
  transform: translateY(0);
  transition: transform 500ms;
}




@keyframes image-appear {
  from {
    opacity:0;
    transform:translateY(100%);
  }
}